.navigation {
}
.navigation__menu {
    display: flex;
}
.navigation__list {
    margin-right: 18px;
}
.navigation__link {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #7D7D7D;
    text-decoration: none;
}