#shipSelect {
    position: relative;
}

.new-select {
    position: relative;
    border: 1px solid #ced4da;
    padding: 17px 24px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    font-family: 'IBM',sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .01em;
    color: #7d7d7d;
    &:hover,
            &:focus {
                border: 1px solid #8b8b8b;
            }
}

.new-select__list {
    position: absolute;
    top: 60px;
    left: 0;
    border: 1px solid #ced4da;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    user-select: none;
    border-radius: 8px;
    padding: 6px;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 17px 24px;
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-radius: 8px;
    /* identical to box height, or 114% */

    letter-spacing: 0.01em;

    /* Base/1000 */

    color: #000000;

}

.new-select__item span:hover {
    color: #000;
    background-color: #EFF6F6;
}

.new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;
    background: url('path-to-image') no-repeat right center / cover;
    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}





.calculator {
    margin-top: 120px;

    
    @include media-breakpoint-down(lg){
        margin-top: 96px;
        background-color: $bg-secondary;
    }

    @include media-breakpoint-down(md){
        margin-top: 0px;
    }

    &__wrapper {
        background-color: $bg-secondary;
        padding: 32px;
        border-radius: 24px 8px;

        @include media-breakpoint-down(md){
            padding: 48px 0px;
            background-color: transparent;
        }
    }

    &__left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-size: 14px;
        line-height: 16px;
        height: 100%;
        

        @media (max-width: 880px) {
            br {
                display: block;
            }
        }

        @include media-breakpoint-down(lg){
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 32px;
            border-bottom: 1px solid $divider-color;
            margin-bottom: 32px;
            height: auto;

            @include media-breakpoint-down(md){
                padding-bottom: 24px;
                margin-bottom: 24px;
            }

            .mb-md{
                margin-bottom: 0px;
            }  
        }

       
    }

    &__subtitle{
        @include media-breakpoint-down(lg){
            text-align: right;
        }

        @include media-breakpoint-down(md){
            display: flex;
            justify-content: space-between;
            flex: 0 0 100%;
            margin-top: 24px;
        }
    }

    &__form {
        display: block !important;
        input {
            width: 100%;
        }


        @include media-breakpoint-down(md){
            &-footer{
                display: flex;
                flex-direction: column;

                > *{
                    width: 100%;
                }

                button{
                    margin-bottom: 24px;
                }

                .divider{
                    display: none;
                }
            }
        }
    }



    .calculator__finish {
        top: 0;
        right: -1500px;
        opacity: 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        // min-height: 650px;
        width: 25%;
        background-color: #FAF9F5;
        position: fixed;
        z-index: 101;
        min-width: 360px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        transition: all .3s ease-in-out;
        
    }
    .calculator__finish.active {
        right: 0;
        opacity: 1;
    }
    .calculator__title {
        font-family: 'Normalidad', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #191919;
        margin-bottom: 12px;
    }
    .calculator__subtitle {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #7D7D7D;
        margin-bottom: 32px;
    }
    .calculator__form {
    }
    .calculator__btn {
        padding: 17px 34px;
        background-color: $accent;
        color: #fff;
        border-radius: 8px;
    
    }
    .calculator__phone {
        padding: 17px 24px;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        font-family: "IBM", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #7d7d7d;
        background-color: transparent;
        transition: 0.3s;
        width: 100%;
        margin-bottom: 16px;
        &:hover,
            &:focus {
                border: 1px solid #8b8b8b;
            }
    }
    .calculator__email {
        padding: 17px 24px;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        font-family: "IBM", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #7d7d7d;
        background-color: transparent;
        transition: 0.3s;
        width: 100%;
        margin-bottom: 16px;
        &:hover,
            &:focus {
                border: 1px solid #8b8b8b;
            }
    }
    
    .calculator__cross {
        // position: absolute;
        top: 32px;
        left: 24px;
        padding-left: 0px;
    }
    .calc__agree {
        // position: absolute;
        left: 32px;
        bottom: 32px;
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #B1B1B1;
        span {
            color: $accent;
        }
    }
    .calc__agree.active {
        opacity: 0;
        visibility: hidden;
    }



    .calculator__info {
        width: 100%;
        padding: 20px 0;
    }

    .calculator__info.active {
        opacity: 0;
        visibility: hidden;
        position: fixed;
    }
    .calculator__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: 1px solid #E5E5E5;
        &:first-child {
            padding-top: 0px;
        }
        &:nth-child(5) {
            border-top: 1px solid #000;
        }
        &:last-child {
            border-bottom: none;

        }
        span {
            display: block;
            font-family: 'IBM', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: #7D7D7D;
        }
        .calculator__result,.calculator__result-year {
            font-family: 'IBM', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: right;
            letter-spacing: 0.01em;
            color: #000000;
        }
        .calculator__preresult, .calculator__result {
            color: #000;
        }
    }
    .calculator__total {
    }
    .calculator__preresult {
    }
    .calculator__group {
        padding: 20px 0;
    }
    .calculator__group.active {
        opacity: 0;
        visibility: hidden;
        position: fixed;
    }

   
    .calculator__luck {
        opacity: all .2s ease;
        opacity: 0;
        visibility: hidden;
        position: fixed;
    }
    .calculator__luck.active {
        opacity: 1;
        visibility: visible;
        position: static;
        padding: 40px 0;
        width: 100%;
    }
}


@media (max-width: 768px) {
    .calculator {
        &::before {
            display: block;
            content: " ";
            width: 100%;
            height: 96px;
            background-color: #fff;
        }
    }
}


@media (max-width: 540px) {
    .calculator {
        background-color: #fff;
        // padding: 64px 0 24px 0;
        &::after {
            display: block;
            content: " ";
            width: 100%;
            height: 24px;
            background-color: #faf9f5;
        }
        &::before {
            display: block;
            content: " ";
            width: 100%;
            height: 64px;
            background-color: #faf9f5;
        }
        &__wrapper {
            border-radius: 0 0;
            background-color: #fff;
        }
        .calculator__finish {
            width: 100%;
            min-width: 290px;
        }


        

    }
}




.auto {
    .calculator {
        margin-top: 0;
        background-color: #FAF9F5;
    }
    @media (max-width: 540px) {
        .calculator__wrapper {
            background-color: #faf9f5;
        }
    }
}