.call {
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    background-color: #FAF9F5;
    position: absolute;
    z-index: 101;
    min-width: 320px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: none;
}
.call__title {
    font-family: 'Normalidad', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #191919;
}
.call__subtitle {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #7D7D7D;
}
.call__form {
}
.call__btn {
    padding: 17px 34px;
    background-color: $accent;
    color: #fff;
    border-radius: 8px;

}