.certificate {
    padding: 120px 0;
}

.certificate__content {
}
.certificate__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
}
.certificate__controls {
    display: flex;
    width: 150px;
    justify-content: space-between;
    
}
.certificate__btn {
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.certificate__btn-prev {
    background-image: url(../images/dist/Icon/arrow-left-black.svg);
}
.certificate__btn-next {
    background-image: url(../images/dist/Icon/arrow-right-black.svg);
}
.certificate__title {
}

.certificate__bot {
}

.certificate__swiper {
}

// .certificate__slide {
//     border: 1px solid #E5E5E5;
//     border-radius: 16px;
//     height: 400px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     img {
//         width: 85%;
//         height: auto;
//         object-fit: cover;
//     }
// }


.certificate__slide {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-bottom: 12px solid #F05A46;
    border-radius: 16px 16px 0 0;
    height: 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: border-color .3s;
    &:hover {
        border-color: #F05A46;
        .certificate__slide-year {
            color: #F05A46;
        }
    }
    position: relative;
}

.certificate__slide-year {
    position: absolute;
    top: 80px;
    right: -30px;
    font-family: 'Normalidad', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(-90deg);
    transition: color .3s;
}
.certificate__slide-bot {
}
.certificate__slide-title {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #7D7D7D;
    margin-bottom: 8px;
    text-align: left;
}
.certificate__slide-subtitle {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-align: left;
}



@media (max-width: 1024px) {
    .certificate {
        padding: 94px 0;
    }
}

@media (max-width: 768px) {
    .certificate__controls {
        width: 90px;     
    }
    .certificate__btn {
        width: 40px;
        height: 40px;

    }
}

@media (max-width: 540px) {
    .certificate {
        padding: 64px 0;
    }
    .certificate__controls {
        width: 90px;
    }
    .certificate__btn {
        width: 40px;
        height: 40px;
    }
}

.auto {
    .certificate {
        padding: 60px 0;
        @media (max-width: 1024px) {
            padding: 48px 0;
        }
        @media (max-width: 768px) {
            padding: 32px 0;
        }
    }
}

.sertificate-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    height: calc(100 * var(--vh));
    background-color: rgba(0, 0, 0, 0);
    top: 1000px;
    left: 0;
    opacity: 0;
    display: flex;
    z-index: 200;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    &_active {
      top: 0;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.2);
      pointer-events: all;
      .sertificate-modal-arrow {
          opacity: 1;
          pointer-events: all;
      }
      .sertificate-modal-content {
        transform: none;
      }
      .sertificate-modal__close {
        @media screen and (max-width: 767px) {
            opacity: 1;
        }
      }
    }
    &-content {
    //   overflow: auto;
      max-height: calc(100vh - 48px);
    //   overflow-y: scroll;
      max-height: calc(100 * var(--vh) - 48px);
      background-color: #FFF;
      width: 59.6em;
      display: flex;
      flex-direction: column;
      position: relative;
      transform: translateY(-1000px);
      margin: 0 64px;
      transition: transform .5s ease;
      border-radius: 4px;
      @media screen and (max-width: 1023px) {
        width: 53.6em;
        margin: 0 28px;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        margin: 0 16px;
        position: static;
      }
    }
    &-arrow {
        width: 64px;
        height: 64px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        transition: .3s;
        opacity: 0;
        pointer-events: none;
        flex-shrink: 0;
        @media screen and (max-width: 767px) {
          display: none;
        }
        svg {
            display: block;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &-imgbox {
        width: 100%;
        overflow-y: scroll;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            // max-height: 80vh;
        }
    }
    &__title {
        padding: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    &__close {
        border: none;
        position: absolute;
        right: 0px;
        top: -1000px;
        background-color: #fff;
        padding: 0;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        justify-content: center;
        @media screen and (max-width: 767px) {
            position: fixed;
            width: 100%;
            bottom: 0;
            top: auto;
            opacity: 0;
            transition: opacity .3s;
            transition-delay: .5s;
            background-color: transparent;
        }
        span {
            display: none;
            @media screen and (max-width: 767px) {
                display: block;
                font-size: 14px;
                line-height: 16px;
            }
        }
        svg {
            display: block;
            @media screen and (max-width: 767px) {
                margin-right: 8px;
            }
        }
    }
    &__download {
        padding: 16px;
        display: flex;
        align-items: center;
        font-family: Normalidad;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        svg {
            display: block;
            margin-right: 8px;
        }
    }
}
