.bx-livechat-body {
    background-color: #FAF9F5 !important;
    background-image: none !important;
}

.b24-widget-button-inner-block {
    background: #F05A46 !important; 
}

.bx-livechat-head {
    background-color: #FAF9F5 !important;
}


.bx-livechat-title {
    font-family: 'IBM' !important;
}

.bx-livechat-textarea {
    background-color: #FAF9F5 !important;
}

.bx-im-textarea { 
    border-top: none !important;
    border: 1px solid #E5E5E5 !important;
    margin: 16px !important;
    border-radius: 8px
}

.bx-im-textarea {
    display: flex !important;
    flex-direction: row !important;
}

.bx-im-textarea-app-smile {
    display: none !important;
}
.bx-livechat-user-status {
    bottom: none !important;
    top: 1px !important;
}
// .bx-im-message-content {
//     background: #FFFFFF !important;
// }
// .bx-im-message-type-opponent .bx-im-message-content {
//     background-color: #F05A46 !important;
// }

// .bx-im-message-type-opponent .bx-im-message-content {
//     .bx-im-message-content {
//         color: #fff !important;
//     }
// }

// .bx-im-message-content-name .bx-im-dialog-list-item-name-reference {
//     color: #fff !important;
// }