.command {
    padding: 120px 0;
}
.command__content {
}
.command__title {
    font-family: 'Normalidad', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 32px;
}
.command__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.command__item {
    width: 24%;
    margin-bottom: 48px;
    &:nth-child(7) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px dashed #E5E5E5;
        border-radius: 8px;
        padding: 32px;
    }
    &:last-child {
        visibility: hidden;
    }
}
.command__img {
    img {
        border-radius: 8px;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    margin-bottom: 24px;
}
.command__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.command__name {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 8px;
    text-align: center;
    &:before {
        display: block;
        text-align: center;
    }
}
.command__position {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #7D7D7D;
    text-align: center;
}

.command__yet {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #7D7D7D;
    text-align: center;
    margin-top: 16px;

}

.command__num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
}






@media (max-width: 768px) {
    .command__block {
        flex-wrap: wrap;
    }
    .command__item {
        width: 49%;
    }
    .command {
        padding: 94px 0;
    }
    .command__img {
        margin-bottom: 16px;
    }
}






@media (max-width: 540px) {
    .command {
        padding: 64px 0;
    }
    .command__img {
        margin-bottom: 8px;
    }
    .command__item {
        
        margin-bottom: 32px;
    }
}
