.command {
    padding: 120px 0;
}
.command__content {
}
.command__title {
    font-family: 'Normalidad', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 32px;
}
.command__block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 32px;
}
.command__item {
    width: 24%;
    &:nth-child(1) {
        .command__name {
            &:before {
                content: "Алексей Викторович Якушев";
            }
        }
    }
    &:nth-child(2) {
        .command__name {
            &:before {
                content: "Георгий Михайлович Герасимов";
            }
        }
    }
    &:nth-child(3) {
        .command__name {
            &:before {
                content: "Александр Юрьевич Спиридонов";
            }
        }
    }
    &:nth-child(4) {
        .command__name {
            &:before {
                content: "Анна Геннадьевна Кялина";
            }
        }
    }
}
.command__img {
    img {
        border-radius: 8px;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    margin-bottom: 24px;
}
.command__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;

}
.command__name {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 8px;
    &:before {
        display: block;
        text-align: center;
    }
}
.command__position {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #7D7D7D;
}
.command__yet {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #7D7D7D;

}


@media (max-width: 1150px)  {
    .command__item {
        &:nth-child(1) {
            .command__name {
                &:before {
                    content: "Якушев А.В.";
                }
            }
        }
        &:nth-child(2) {
            .command__name {
                &:before {
                    content: "Герасимов Г.М.";
                }
            }
        }
        &:nth-child(3) {
            .command__name {
                &:before {
                    content: "Спиридонов А.Ю.";
                }
            }
        }
        &:nth-child(4) {
            .command__name {
                &:before {
                    content: "Кялина А.Г.";
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .command__block {
        flex-wrap: wrap;
    }
    .command__item {
        width: 49%;
        margin-bottom: 16px;
    }
    .command {
        padding: 94px 0;
    }
    .command__item {
        &:nth-child(1) {
            .command__name {
                &:before {
                    content: "Алексей Викторович Якушев";
                }
            }
        }
        &:nth-child(2) {
            .command__name {
                &:before {
                    content: "Георгий Михайлович Герасимов";
                }
            }
        }
        &:nth-child(3) {
            .command__name {
                &:before {
                    content: "Александр Юрьевич Спиридонов";
                }
            }
        }
        &:nth-child(4) {
            .command__name {
                &:before {
                    content: "Анна Геннадьевна Кялина";
                }
            }
        }
}



@media (max-width: 570px) {
    .command__item {
        &:nth-child(1) {
            .command__name {
                &:before {
                    content: "Якушев А.В.";
                }
            }
        }
        &:nth-child(2) {
            .command__name {
                &:before {
                    content: "Герасимов Г.М.";
                }
            }
        }
        &:nth-child(3) {
            .command__name {
                &:before {
                    content: "Спиридонов А.Ю.";
                }
            }
        }
        &:nth-child(4) {
            .command__name {
                &:before {
                    content: "Кялина А.Г.";
                }
            }
        }
    }
}



@media (max-width: 540px) {
    .command {
        padding: 64px 0;
    }
}
}