.empty {
    background-color: #FAF9F5;
    .container {
        position: relative;
        .proposal {
            margin: 0 auto;
            width: 98%;
            border-radius: 32px 8px;
            background-color: #fff;
            bottom: 100px;
            position: relative;
            z-index: 100;
        }

    }
}

@media (max-width: 1380px) {
    .empty {
       .proposal__row-subtitle {
           display: none;
       }
    }
}


@media (max-width: 1140px) {
    .empty {
       .proposal__row-subtitle {
           display: block;
       }
    }
}

@media (max-width: 1024px) {
    .empty {
        .container {
            max-width: 100%;
            padding: 0px;
            .proposal {
                width: 100%;
                bottom: 0;
                border-radius: 0px;
                padding: 32px;
                position: static;
            }
        }
    }
}



@media (max-width: 640px) {
    .empty {
       .proposal__menu {
           min-width: 100%;
       }
    }
}



@media (max-width: 380px) {
    .empty {

        .proposal__list {
            width: 100%;
    
            &:nth-child(4) {
                order: 2;
                text-align: left;
            }
            &:nth-child(5) {
                order: 5;
                text-align: left;
            }
        }
    }
}



