.empty {
    background-color: #FAF9F5;
    .container {
        position: relative;
        .proposal {
            margin: 0 auto;
            width: 98%;
            border-radius: 32px 8px;
            background-color: #fff;
            bottom: 100px;
            position: relative;
            z-index: 100;
        }

    }
}


@media (max-width: 1024px) {
    .empty {
        .proposal {
            width: 100%;
            bottom: 0;
            border-radius: 0px;
        }
    }
}
