.form {
    display: flex;
    column-gap: 16px;

    input[type="text"],input[type="email"],input[type="tel"],
    select {
        padding: 17px 24px;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        font-family: "IBM", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #7d7d7d;
        background-color: transparent;
        transition: 0.3s;

        &:hover,
        &:focus {
            border: 1px solid #8b8b8b;
        }
    }

    &__select {
        position: relative;

        select {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            padding-right: 35px;
        }

        &::after {
            content: "";
            top: 50%;
            right: 27px;
            transform: translateY(-50%);
            position: absolute;
            width: 9px;
            height: 6px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00001 3.78126L8.30001 0.481262L9.24267 1.42393L5.00001 5.6666L0.757339 1.42393L1.70001 0.481262L5.00001 3.78126Z' fill='black'/%3E%3C/svg%3E%0A");
        }
    }

    &__number {
        padding: 17px 24px;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        font-family: "IBM", sans-serif;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #7d7d7d;
        background-color: transparent;
        transition: 0.3s;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        input {
            border: 0;
            background-color: transparent;
            text-align: center;
            max-width: 70px;
            padding: 0 10px;

            /* Chrome, Safari, Edge, Opera */
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type="number"] {
                -moz-appearance: textfield;
            }
        }

        &-wrapper {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon {
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33331 0.333344H5.66665H9.66665V1.66668H5.66665L4.33331 1.66668L0.333313 1.66668V0.333344H4.33331Z' fill='black'/%3E%3C/svg%3E%0A");
            transition: .3s;
            cursor: pointer;

            &:hover{
                opacity: .5;
            }
        }

        .plus {
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.33331 4.33334V0.333344H5.66665V4.33334H9.66665V5.66668H5.66665V9.66668H4.33331V5.66668H0.333313V4.33334H4.33331Z' fill='black'/%3E%3C/svg%3E%0A");
        }
    }

    &__name {
        flex-grow: 3;
    }

    &__phone {
        flex-grow: 3;
    }

    &__btn-primary {
        flex-grow: 2;
        border-radius: 8px;
        font-family: "IBM", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #fff;
        background-color: $accent;
        border: none;
        padding: 17px 10px;
        transition: .3s;

        &:hover {
            color: #fff;
            background-color: #C04838;
        }
    }
    &__block {
        flex-grow: 6;
        display: flex;
        column-gap: 16px;
    }

}

.calculator_btn_next {
    padding: 17px 34px;
}