.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    z-index: 1;
}
.header__content {
    height: 72px;
    display: flex;
    align-items: center;
}
.header__logo {
    flex-grow: 4; 
    img {
        width: 170px;
    }
}
.header__info {
    flex-grow: 6;

}
.header__block {
    display: none;
}
.header__navigation {
}
.header__contacts {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__phone {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #000000;
}
.header__btn {
    padding: 12px 24px;
    border: 1px solid #9FCCCB;
    border-radius: 24px 8px;
    &:hover {
        background-color: #5FAAA8;
        color: #fff;
    }
}
.header__burger {
    display: none;
}



@media (max-width: 1240px) {
    .header {
        border-bottom: 1px solid #E5E5E5;
    }
    .header__info {
        position: absolute;
        width: 100%;
        height: 100vh;
        min-height: 650px;
        top: 72px;
        right: -1500px;
        background-color: #FFFFFF;
        transition: .3s ease-in-out;
        opacity: 0;
        z-index: 100;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 100;
        .navigation__menu {
            flex-direction: column;
            align-items: center;
        }
        .navigation__list {
            margin: 0;
        }
    }
    .header__info.active {
        right: 0px;
        opacity: 1;
    }
    .header__navigation {
        width: 100%;
    }
    .header__contacts {
        justify-content: flex-end;
        .header__phone {
            margin-right: 24px;
        }
    }
    .header__btn-menu {
        flex-grow: 0.5;
        display: flex;
        justify-content: flex-end;
    }

    .header__burger {
        width: 24px;
        height: 24px;
        display: block;
        transition: all .1s ease-in-out;
        background-image: url(../images/dist/burger.svg);
        z-index: 11;
    }
    .header__burger.active {
        background-image: url(../images/dist/cross.svg);
    }
    .header__block {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .header__links {
        margin-top: 40px;
        margin-bottom: 16px;
    
        a { 
            margin: 0 16px;
            font-family: 'IBM', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #000000;

        }
    }
    .header__social {
        width: 180px;
        justify-content: space-between;
        display: flex;
    }
    .header__social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50px;
        border: 1px solid #E5E5E5;
        img {
            width: 16px;
            height: 16px;
        }
    }

}


@media (max-width: 768px) {
    .header__phone {
        display: none;
    }
    .header__btn-menu {
        flex-grow: 1;
    }


}

@media (max-width: 540px) {
    .header__btn {
        padding: 8px 10px;
        border-radius: 0px 0px;
        font-size: 12px;
        display: none;
    }
    .header__contacts {
        display: none;
    }
    .header__links {
        margin-top: 32px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        a {
            &:first-child {
                margin-bottom: 16px;
            }
        }
    }   

}