.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    z-index: 11;
}
.header__content {
    height: 72px;
    display: flex;
    align-items: center;
    // position: relative;
}
.header__logo {
    flex-grow: 4; 
    img {
        width: 170px;
    }
}

.header__navigation {
    flex-grow: 6;
}
.header__contacts {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__phone {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #000000;
}
.header__btn {
    padding: 12px 24px;
    border: 1px solid #9FCCCB;
    border-radius: 24px 8px;
    transition: .3s ease;
    &:hover {
        background-color: #5FAAA8;
        color: #fff;
    }
    &:active {
        background-color: #4C8886;
        color: #fff;
    }
}
.header__burger {
    display: none;
}
.header__cid {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    display: none;
    top: -300px;
}


@media (max-width: 1240px) {
    .header {
        border-bottom: 1px solid #E5E5E5;
        .container {
            position: relative;
        }
    }
    .header__navigation {
        position: absolute;
        width: 100%;
        height: calc(100vh - 72px);
        top: 72px;
        right: 0px;
        background-color: #FFFFFF;
        transition: .3s ease;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        overflow: auto;
        flex-grow: 100;
        .navigation__menu {
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding-bottom: 50px;
            overflow-y: auto;
            overflow-x: hidden;
            
        }
        .navigation__list {
            margin: 0;
            &:last-child {
                display: block;
            }
        }
    }
    .header__navigation.active {
        opacity: 1;
        visibility: visible;
    }
    .header__contacts {
        justify-content: flex-end;
        .header__phone {
            margin-right: 24px;
        }
    }
    .header__btn-menu {
        flex-grow: 0.5;
        display: flex;
        justify-content: flex-end;
    }

    .header__burger {
        width: 24px;
        height: 24px;
        display: block;
        transition: all .1s ease;
        background-image: url(../images/dist/burger.svg);
        z-index: 11;
    }
    .header__burger.active {
        background-image: url(../images/dist/cross.svg);
    }

    .header__links {
        margin-bottom: 16px;
        a { 
            margin: 0 16px;
            font-family: 'IBM', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #000000;

        }
    }
    .header__social {
        width: 180px;
        justify-content: space-between;
        display: flex;
        margin: 0 auto;
    }
    .header__social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50px;
        border: 1px solid #E5E5E5;
        img {
            width: 16px;
            height: 16px;
        }
    }

}


@media (max-width: 768px) {
    .header__phone {
        display: none;
    }
    .header__btn-menu {
        flex-grow: 1;
    }


}

@media (max-width: 540px) {
    .header__btn {
        padding: 8px 10px;
        border-radius: 0px 0px;
        font-size: 12px;
        display: none;
    }
    .header__contacts {
        display: none;
    }
    .header__links {
        display: flex;
        flex-direction: column;
        a {
            &:first-child {
                margin-bottom: 16px;
            }
        }
    }   

}


@media (max-height: 380px) {
    .header__navigation {
        .navigation__menu {
            height: 420px;
        }
    }
}