.info {
    .entry {
        padding-top: 200px;
        padding-bottom: 96px;
        .container {
            display: flex;
        }
        &__left {
            width: 20%;
        }
        &__right {
            width: 80%;
        }
        &__title {
            font-family: 'Normalidad', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 16px;
        }
        &__data {
            font-family: 'IBM', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: #7D7D7D;
            margin-bottom: 64px;
        }
        &__img {
            margin-bottom: 64px;
            img {
                border-radius: 32px 8px;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        &__block {
            max-width: 800px;
        }
        &__subtitle {
            margin-bottom: 32px;
        }
        &__sbt {
            font-family: 'IBM', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            color: #191919;
        }
        &__txt {
            font-family: 'IBM', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            color: #191919;
        }
    }
}

