.interface {
    padding: 60px 0 120px 0px;
}

.interface__content {
    display: flex;
}
.interface__left {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.interface__tittle {
    font-family: 'Normalidad', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 32px;
    position: absolute;
    top: 0;
}
.interface__subtittle {
    font-family: 'IBM';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7D7D7D;
    max-width: 365px;
}
.interface__right {
    width: 70%;
    padding-left: 32px;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }
}
.interface__text {
    display: inline-block;
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 32px;

}

.interface__slider-panel {
    display: flex;
    align-items: center;
}
.interface__pagination {
    font-family: 'Normalidad',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    width: 80px;
    .swiper-pagination-current {
        color: #000;
    }
}
.interface__controls {
    display: flex;
    width: 140px;
    justify-content: space-between;
    
}
.interface__btn {
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}
.interface__btn-prev {
    background-image: url(../images/dist/Icon/arrow-left-black.svg);
}
.interface__btn-next {
    background-image: url(../images/dist/Icon/arrow-right-black.svg);
}






@media (max-width: 768px) {
    
    .interface {
        padding: 48px 0 96px 0px;
    }
    .interface__content {
        flex-direction: column;
    }
    .interface__left {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .interface__right {
        padding-left: 0px;
        width: 100%;
    }
    .interface__left {
        margin-bottom: 32px;
    }
    .interface__tittle {
        margin-bottom: 0;
        margin-right: 32px;
        position: static;
    }
    .interface__slider-panel {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .interface__btn {
        width: 40px;
        height: 40px;
    }
    .interface__controls {
        width: 90px;
    }
}


@media (max-width: 540px) {
    .interface {
        padding: 32px 0 64px 0px;
    }

    .interface__left {
        width: 100%;
        flex-direction: column;
    }
    .interface__right {
        padding-left: 0px;
        width: 100%;
    }
    .interface__left {
        margin-bottom: 16px;
    }
    .interface__tittle {
        margin-bottom: 16px;
        margin-right: 0;
    }
    .interface__subtittle {
        max-width: 100%;
        margin-bottom: 16px;
    }
    .interface__slider-panel {
        position: static;
        align-self: flex-end;
        display: flex;
    }
    .interface__controls {
        order: 2;
    }
}