.interface {
    padding: 60px 0 120px 0px;
}

.interface__content {
    display: flex;
}
.interface__left {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 16px;
}
.interface__tittle {
    font-family: 'Normalidad', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 32px;
    position: absolute;
    top: 0;
    br {
        display: none;
    }
}
.swiper__title {
    width: 100%;
    padding-top: 64px;
}
.interface__subtittle {
    font-family: 'IBM';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7D7D7D;
    // max-width: 365px;\
    display: flex;
    align-items: flex-end;
}
.interface__right {
    width: 70%;
    
    img {
        border-radius: 12px;
        border: 6px solid #4B4B4B;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
.interface__text {
    margin-top: 16px;
    font-family: 'IBM';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7D7D7D;
    display: none;

}

.interface__slider-panel {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.interface__pagination {
    font-family: 'Normalidad',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    width: 80px;
    .swiper-pagination-current {
        color: #000;
    }
}
.interface__controls {
    display: flex;
    width: 140px;
    justify-content: space-between;
    
}
.interface__btn {
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}
.interface__btn-prev {
    background-image: url(../images/dist/icon/arrow-left-black.svg);
}
.interface__btn-next {
    background-image: url(../images/dist/icon/arrow-right-black.svg);
}





@media (max-width: 1024px) {
    .interface__text {
        display: inline-block;
    
    }
    .swiper__title {
        display: none;
    }
    .interface {
        padding: 48px 0 96px 0px;
    }
    .interface__content {
        flex-direction: column;
    }
    .interface__left {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        padding-right: 0;
    }
    .interface__right {
        padding-left: 0px;
        width: 100%;
    }
    .interface__tittle {
        margin-bottom: 0px;
        position: static;
        max-width: 250px;
    }
    .interface__slider-panel {
        margin-top: 0px;
        align-self: flex-end;
        
    }
    .swiper-pagination-fraction {
        display: none;
    }
    .interface__btn {
        width: 40px;
        height: 40px;
    }
    .interface__controls {
        width: 90px;
    }
}


@media (max-width: 540px) {
    .interface {
        padding: 32px 0 64px 0px;
    }
}