.news {
    &__content {
        padding: 136px 0 120px 0;
    }
    &__top {
        display: flex;
        padding-bottom: 32px;

    }
    &__left {
        width: 20%;
    }
    &__right {
        width: 80%;
    }
    &__title {
        font-family: 'Normalidad', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.02em;
        // text-transform: uppercase;
        color: #000000;
        margin-bottom: 32px;
    }

    &__bottom {
        padding-top: 32px;
        display: flex;
        .news__right {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
        }
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
    }
    &__item {
        width: 32.5%;
        margin-bottom: 64px;
        &:hover {
            .news__item__img {
                border: 2px solid #B62C2C;
            }
            .news__item__title {
                color:#B62C2C;;
            }
        }
    }
    &__item__img {
        border: 2px solid transparent;
        border-radius: 32px 8px;
        overflow: hidden;
        img {
            // border-radius: 32px 8px;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        margin-bottom: 24px;
    }
    &__item__title {
        font-family: 'Normalidad', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6em;
        line-height: 18px;
        letter-spacing: -0.02em;
        // text-transform: uppercase;
        color: #000000;
        padding-right: 16px;
        img {
            width: 1.6em;
            height: 1.6em;
        }
    }

}



@media (min-width: 1400px) {
    .news {
        &__item__title {
            font-size: 16px;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}




@media (max-width: 1024px) {
    .news__left {
        display: none;
    }
    .news__right {
        width: 100%;
    }
    .news__top {
        padding-bottom: 0px;
        .news__right {
            display: flex;
            justify-content: flex-start;
        }
    }
}




@media (max-width: 768px) {
    .news {
        &__item {
            width: 48%;
            margin-bottom: 48px;
        }
        &__item__img {
            margin-bottom: 16px;
        }
        &__item__title {
            margin-bottom: 8px;
        }   
        &__right {
            display: flex;
            justify-content: center;
            align-items: center;
            // flex-direction: column;
        }
    }
}


@media (max-width: 540px) {
    .news {
        &__item {
            width: 100%;
            margin-bottom: 32px;
        }
        &__title {
            font-size: 22px;
            line-height: 24px;
        }
        &__list {
            font-size: 13px;
        }

        &__item__img {
            img {
                height: 165px;   
            }
            
        }
    }
    
}


