.production {
    padding: 64px 0px;
    &__content {

    }
    &__top {
        display: flex;
        padding-bottom: 64px;
        border-bottom: 1px solid #E5E5E5;
    }
    &__left {
        width: 50.5%;
        padding-right: 110px;
    }
    &__label {
        font-family: 'Normalidad', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 48px;
        letter-spacing: -0.02em;
        // text-transform: uppercase;
        color: #000000;

    }
    &__right {
        width: 49.5%;
        img {
            width: 90%;
            height: auto;
            object-fit: cover;
            border-radius: 32px 8px;
            &:last-child {
                display: none;
            }
        }
    }
    &__subtitle {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #7D7D7D;
        max-width: 355px;
    }
    &__bottom {
        padding-top: 64px;
        display: flex;
        align-items: center;
    }
    &__title {
        margin-bottom: 24px;
    }
    &__description {
        font-family: 'IBM', sans-serif;        
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #191919;
        margin-bottom: 32px;

    }
    &__block {
        display: flex;
        padding-bottom: 32px;
        border-bottom: 1px solid #E5E5E5
    }
    &__footnote {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #7D7D7D;
        width: 59%;
    }
    &__menu {
        width: 41%;
    }
    &__list {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #191919;
        padding: 16px 0;
        border-bottom: 1px solid #E5E5E5;
        &:nth-child(1) {
            padding-top: 3px;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &__link {
        color: #000;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &__text {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000;
        margin-top: 32px;
    }
}


@media (max-width: 1240px) {
    .production {
        &__label {
            font-size: 40px;
        }
        &__left {
            padding-right: 40px;
        }
    }
}


@media (max-width: 1024px) {
    .production {
        padding: 48px 0px;
        &__label {
            font-size: 40px;
            margin-bottom: 16px;
        }
        &__left {
            padding-right: 50px;
        }   
        &__top {
            flex-direction: column;
            padding-bottom: 48px;
        }
        &__left {
            width: 100%;

        }
        &__right {
            width: 100%;
        }
        &__bottom {
            flex-direction: column;
            padding-top: 48px;
            .production__right {
                order: 1;
                margin-bottom: 48px;
                img {
                    width: 100%;
                    &:first-child {
                        display: none;
                    }
                    &:last-child {
                        display: block;
                    }
                }
            }
            .production__left {
                order: 2;
            }
        }
        &__footnote {
            width: 70%;
        }
        &__menu {
            width: 30%;
            min-width: 180px;
        }
    }
}


@media (max-width: 768px) {
    .production {
        &__label {
            font-size: 32px;
            line-height: 32px;
        }
    }
}



@media (max-width: 540px) {
    .production {
        padding: 32px 0px;
        &__label {
            font-size: 20px;
            line-height: 22px;
        }
        &__top {
            padding-bottom: 40px;
        }
        &__left {
            padding-right: 0px;
        }
        &__bottom {
            padding-top: 40px;
            
            .production__right {
                margin-bottom: 40px;
                order: 1;
                margin-bottom: 48px;
                img {
                    width: 100%;
                    &:first-child {
                        display: block;
                    }
                    &:last-child {
                        display: none;
                    }
                }
            
            }
        }
        &__description {
            font-size: 18px;
            line-height: 28px;
        } 
        &__block {
            flex-direction: column;
        }
        &__footnote {
            width: 100%;
            margin-bottom: 32px;

        }
        &__menu {
            width: 100%;
        }
        // &
        // &
        // &
    }
}