
.proem {
    padding-top: 72px;
    
    .proem__text {
        color:transparent!important;
        -webkit-text-stroke: 1px #fff;
    }
    .proem__content {
        border-bottom: 1px solid #E5E5E5;
    }
    .proem__swiper {
        border-radius: 32px;
        overflow: hidden;
    }
    .proem__slide {
        position: relative;
        height: auto;
    }
    .proem__media {
        overflow: hidden;
        border-radius: 32px;
    }
    .proem__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .proem__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .proem__title {
        font-family: 'Normalidad', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 52px;
        color: #FFFFFF;
        max-width: 900px;
    }
    .proem__pagination {
        @media (max-width: 1140px) {
            display: none;
        }
    }
    .swiper-pagination-bullet {
        background-color: transparent;
        border: 1px solid #fff;
        opacity: 0.9;
        margin: 0 6px;
        
    }
    .swiper-pagination-bullet-active {
        background-color: #fff;
    }
    .proem__bot {
        // display: flex;
        // justify-content: space-between;
        // align-items: flex-end;
    }
    .proem__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .proem__left {
        display: flex;
    }
    .proem__label {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        max-width: 470px; 
        display: none;
    }
    .btn {
    }
    .proem__btn {
        padding: 17px 34px;
        background-color: #fff;
        border-radius: 8px;
        box-sizing: border-box;
        border: 1px solid transparent;
        transition: all .2s ease;
        &:hover {
            color: #B62C2C;
            border: 1px solid #B62C2C;
        }
        &:active {
            background-color: #B62C2C;
            color: #fff;
        }
    }
    .proem__subtitle {
        margin-left: 32px;
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        max-width: 470px;
    }
    .proem__right {
        display: flex;
        justify-content: flex-end;
    }
    .proem__btn-navigation {
        background-color: rgba($color: #fff, $alpha: 0.2);
        width: 64px;
        height: 64px;
        border-radius: 50px;
        margin-left: 16px;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        // background-size: 30%;
    }
    .proem__btn-prev {
        background-image: url(../../../images/dist/icon/arrow-left-white.svg);
    }
    .proem__btn-next {
        background-image: url(../../../images/dist/icon/arrow-right-white.svg);
    }
    .proem__menu {
        display: flex;
        padding: 32px 0;
    }
    .proem__list {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding-left: 16px;
        border-left: 1px solid #E5E5E5;
        &:last-child {
            border-right: 1px solid #E5E5E5;
        }
    }
    .proem__list-title {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #000000;
        margin-bottom: 16px;
    }
    .proem__list-number {
        font-family: 'Normalidad', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 52px;
        color: #000000;
        margin-bottom: 4px;
    }
    .proem__list-data {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #7D7D7D;
    }
    .proem__ship {
        transform: rotate(180deg);
    }
    video {
        border-radius: 24px;
        height: auto;
        width: 100%;
        object-fit: cover;
        min-height: 620px;
    }
}


@media (max-width: 1024px) {
    .proem {

        .proem__title {
            font-size: 40px;
            line-height: 40px;
        }
        .proem__pagination {
            @media (max-width: 1140px) {
                display: none;
            }
        }
        .proem__subtitle {
            display: none;
        }
        .proem__label {
            display: block;
            margin-bottom: 24px;
            br {
                display: none;
            }
        }
        .proem__list-title {
            font-size: 12px;
        }
        .proem__list-number {
            font-size: 32px;
        }
        .proem__list-data {
            font-size: 12px;
        }

    }
    
}


@media (max-width: 768px) {
    .proem {
        .proem__title {
            font-size: 32px;
            line-height: 34px;
        }

        video {
            min-height: 520px;
        }
        .proem__info {
            padding: 32px;
        }
        .proem__btn-navigation {
            width: 40px;
            height: 40px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-left: 8px;
            }
        }
    }
    
}

@media (max-width: 700px) {
    .proem {
        .proem__title {
            font-size: 26px;
            line-height: 28px;
        }
        .proem__content {
            border-bottom: none;
        }
        .proem__menu {
            flex-wrap: wrap;
        }
        .proem__list {
            width: 50%;
            border: none;
            position: relative;
            &:nth-child(1) {
                &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    height: 100px;
                    width: 1px;
                    background-color: #E5E5E5;
                    top: 0;
                    right: 0;
                }
                padding-bottom: 16px;
            }   
            &:nth-child(2) {
                &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 95%;
                    background-color: #E5E5E5;
                    bottom: 0;
                    right: 0;
                }
                padding-bottom: 16px; 
            }
            &:nth-child(3) {
                &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 95%;
                    background-color: #E5E5E5;
                    top: 0;
                    left: 0;
                }
                padding-top: 16px;  
            }
            &:nth-child(4) {
                &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    height: 100px;
                    width: 1px;
                    background-color: #E5E5E5;
                    bottom: 0;
                    left: 0;
                }
                padding-top: 16px;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    
}



@media (max-width: 540px) {
    .proem {
        .proem__title {
            font-size: 3.1em;
            line-height: 1.2em;
        }
        .container {
            max-width: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .proem__menu {
            padding: 32px 16px;
        }
        .proem__info {
            padding: 32px 16px
        }
        .proem__swiper {
            border-radius: 0px;
        }
        .proem__media {
            border-radius: 0px;
        }
        video {
            min-height: 480px;
            border-radius: 0px;
        }
        .proem__btn {
            padding: 12px 24px;
        }
        
    }
}


@media (max-width: 350px) {
    .proem {
        .proem__btn {
            padding: 12px 12px;
        }
    }
}