.proem {
    height: 620px;
    &__content {
        border-bottom: 1px solid #E5E5E5;
        height: 620px;
        width: 100%;
        padding-top: 72px;
        display: flex;
        align-items: center;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        flex-grow: 4;
    }
    &__list {
        margin-bottom: 36px;
    }
    &__num {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: #000000;
        margin-bottom: 8px;
    }
    &__description {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #7D7D7D;

    }
    &__right {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 10;
    }
    &__group {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-family: 'Normalidad', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 4.8em;
        line-height: 1em;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #191919;
        text-align: right;
        margin-bottom: 64px;
        max-width: 1040px;
        .proem__title-1 {
            position: relative;
            z-index: -1;
            &::after{
                position: absolute;
                content: " ";
                background-image: url(../images/dist/Icon/arrow-right-up-orange.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                width: 1em;
                height: 1em;
            }
        }
    }
    &__block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 1040px;
        width: 100%;
    }
    &__subtitle {
        max-width: 315px;
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #7D7D7D;
        margin-left: 3px;
    }
    &__btn {
        justify-self: flex-end;
        padding: 17px 34px;
        background-color: $accent;
        border-radius: 24px 8px;
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    &__group-img {
        img {
            display: none;
        }
    }
}


@media (min-width: 1400px) {
    .proem {
        &__title {
            font-size: 48px;
            line-height: 52px;
        }
    }
}






@media (max-width: 1024px) {
    .proem {

        &__content {
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
        &__right {
            order: 1;
            flex-grow: 0;
            margin-bottom: 64px;
        }
        &__menu {
            order: 2;
            flex-direction: row;
            max-width: 610px;
            width: 100%;
            justify-content: space-between;
            flex-grow: 0;
        }
    }
}


@media (max-width: 768px) {
    .proem {
        &__title {
            font-size: 3.2em;
            line-height: 1em;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 20px;
            max-width: 260px;
        }
        &__btn {
            padding: 12px 24px;
        }
    }
}



@media (max-width: 540px) {
    .proem {
        height: 650px;
        &__content {
            height: 650px;
            border-bottom: 1px solid #E5E5E5;
        }
        &__right {
            width: 100%;
        }
        &__info {
            width: 100%;
        }
        &__group {
            flex-direction: column;
        }
        &__title {
            text-align: left;
            font-size: 3.1em;
            line-height: 1em;
            margin-bottom: 32px;
        }
        &__block {
            align-items: center;
            flex-direction: column;
        }
        &__group-img {
            display: flex;
            justify-content: space-between;
            img {
                display: block;
            }
        }
        &__break {
            display: none;
        }
        &__subtitle {
            max-width: 100%;
            margin-bottom: 32px;
        }
        &__btn {
            padding: 17px 34px;
            width: 100%;
            text-align: center;
        }

        &__menu {
            flex-wrap: wrap;
        }

        &__list {
            width: 50%;
        }
    }
}
