.purchases {
    padding: 120px 0 64px 0;
    &__content {
        width: 100%;
        display: flex;
    }
    &__left {
        width: 25%;
    }
    &__title {
    }
    &__right {
        width: 75%;
    }
    &__subtitle {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 64px;
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.3333%;
        height: 160px;
        border: 1px solid #E5E5E5;
        &:nth-child(1) {
            border-top: none;
            border-left: none;
        }
        &:nth-child(2) {
            border-top: none;
        }
        &:nth-child(3) {
            border-top: none;
            border-right: none;
        }
        &:nth-child(4) {
            border-top: none;
            border-left: none;
        }
        &:nth-child(5) {
            border-top: none;
        }
        &:nth-child(6) {
            border-top: none;
            border-right: none;
        }
        &:nth-child(7) {
            border-top: none;
            border-left: none;
        }
        &:nth-child(8) {
            border-top: none;
        }
        &:nth-child(9) {
            border-top: none;
            border-right: none;
        }
        &:nth-child(10) {
            border-top: none;
            border-left: none;
            border-bottom: none;
        }
        &:nth-child(11) {
            border-top: none;
            border-bottom: none;
        }
        &:nth-child(12) {
            border-top: none;
            border-right: none;
            border-bottom: none;
        }
    }
}



@media (max-width: 1024px) {
    .purchases {
        padding: 94px 0 64px 0;
        &__content {
            flex-direction: column;
        }
        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
        }
        &__title {
            margin-bottom: 24px;
        }
        &__subtitle {
            margin-bottom: 48px;
        }
        &__item {
            height: 120px;
            &:last-child {
                img {
                    width: 80%;
                }
            }
            img {
                width: 50%;
                height: auto;
                object-fit: cover;
            }
        }
        // &
    }
}



@media (max-width: 540px) {
    .purchases {
        padding: 64px 0 64px 0;
        &__subtitle {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 40px;
        }
        &__block {
            flex-wrap: wrap;
        }
        &__item {
            border: none;
            border-bottom: 1px solid #E5E5E5;
            width: 50%;
            &:nth-child(odd) {
                border-right: 1px solid #E5E5E5;
            }
            &:nth-child(10) {
                border-bottom: 1px solid #E5E5E5;
            }
            &:nth-child(12) {
            }
        }
    }
}