.sailing {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #FAF9F5;
    border: 1px solid #E5E5E5;
}
.sailing__content {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;

}
.sailing__block {
    display: flex;
    align-items: center;
    width: 25%;
}
.sailing__btn-link {
    display: block;
    background-image: url(../images/dist/icon/arrow-top.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 32px;
    transition: transform .3s ease-in-out;
}
.sailing__title {
    font-family: 'Normalidad', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    align-items: center;
}
.sailing__menu {
    display: flex;
    flex-grow: 6;
    padding: 0 10px;
}
.sailing__list {
    margin-right: 24px;
    &:last-child {
        display: none;
    }
}
.sailing__link {
    font-family: 'IBM', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #7D7D7D;
    text-decoration: none;
    
}

.sailing__btn-call {
    border: 1px solid #9FCCCB;
    border-radius: 4px;
    padding: 9px 18px;
    transition: .3s ease;
    &:hover {
        background-color: #5FAAA8;
        color: #fff;
    }
    &:active {
        background-color: #4C8886;
        color: #fff;
    }
}


@media (max-width: 1200px) {
    .sailing__block {
        flex-grow: 13;
    }
    .sailing__menu {
        padding: 0;
        position: absolute;
        width: 100%;
        height: auto;
        top: 48px;
        right: 0px;
        flex-direction: column;
        align-items: center;
        background-color: #FAF9F5;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-in-out;
        .sailing__list {
            width: 100%;
            border-top: 1px solid #E5E5E5;
            padding: 24px 0;
            margin-right: 0;
            .sailing__link {
                display: block;
                font-family: 'IBM', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                letter-spacing: 0.01em;
                color: #000000;

            }
        }
    }
    .sailing__menu.active {
        opacity: 1;
        visibility: visible;
    }
    .sailing__btn-menu {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
    .sailing__burger {
        width: 24px;
        height: 24px;
        display: block;
        transition: all .1s ease-in-out;
        background-image: url(../images/dist/burger.svg);
        z-index: 11;
    }
    .sailing__burger.active {
        background-image: url(../images/dist/cross.svg);
    }
}

@media (max-width: 540px) {
    .sailing__btn-link {
        margin-right: 12px;
    }
    .sailing__btn-call {
        &:nth-child(3) {
            display: none;
        }
    }
    .sailing__list {
        text-align: center;
        &:last-child {
            display: block;
        }
    }
}