.solutions {
    background-color: $bg-secondary;
    padding: 120px 0;
    .coplectation__description {
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #000000;
    }
    &__item {
        margin-bottom: 120px;

        &:last-child {
            margin-bottom: 0;
        }

        &-header {
            .title {
                margin-bottom: 32px;
            }
        }

        &-content {
            .title {
                margin-bottom: 16px;
            }

            .divider {
                margin: 24px 0 24px 0;

                &.last{
                    margin: 8px 0 24px 0;
                }
            }

            .block {
                margin-bottom: 16px;  
            }

            @include media-breakpoint-down(lg) {
                .tab:not(.tab-links) {
                    width: 100%;

                    .tab-item {
                        flex-grow: 1;
                    }

                    .tab-link {
                        width: 100%;
                    }
                }
            }

            .tab-pane {
                @include media-breakpoint-up(md) {
                    .col-12:last-child {
                        padding-left: 0px;
                    }
                }
            }

            .form {
                display: block;

                @include media-breakpoint-up(md) {
                    .col-12:last-of-type{
                        padding-left: 0px;
                    }
                }
                
                
                &__btn-primary,
                input {
                    width: 100%;

                    @include media-breakpoint-down(md) {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }

    &__img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 32px 8px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 32px;
        }
    }
}


@media (max-width: 768px) {
    .solutions {
        padding: 94px 0;
    }
}

@media (max-width: 540px) {
    .solutions {
        padding: 64px 0;
    }
}