// @media (max-width: 540px) {
    .tsct {
        .tsct__bg {
            display: none;
        }
        // height: 500px;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-image: url(../../../images/dist/system/tsct.png);
        // background-position: center;
        .container {
            // height: 100%;
        }
    }
    .tsct__line {
        // height: 100%;
        // display: flex;
        // align-items: center;
        // height: 450px;
        margin-top: 32px;
        img {
            border-radius: 16px;
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
    .tsct__title {
        font-family: 'Normalidad', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.02em;
        // text-transform: uppercase;
        color: #FFFFFF;
        margin: auto;
    }
    

    
@media (max-width: 540px) {
        .tsct {
            .tsct__bg {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .tsct__line {
            img {
                display: none;
            }
        }
}

