.way {
    padding: 64px 0px;
    &__content {
    }
    &__title {
        max-width: 130px;
        margin-bottom: 32px;
    }
    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
    }
    &__item {
        border-radius: 8px;
        background-color: #EFF6F6;
        position: relative;
        &::after {
            transition: all .3s ease;
            top: 28px;
            right: 32px;
            display: block;
            position: absolute;
            content: "";
            background-image: url(../images/dist/Icon/arrow-right-up-orange.svg);
            background-position: top;
            background-size: cover;
            width: 24px;
            height: 24px;
        }
        &:hover {
            background-color: #DFEEEE;
            cursor: url(../../../images/dist/cursor.png), pointer;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        &:nth-child(1) {
            grid-column: span 1;
            grid-row: span 1;
            // background-image: url(../../../images/dist/flot.png);
        }
        &:nth-child(2) {
            grid-column: span 1;
            grid-row: span 1;
            // background-image: url(../../../images/dist/jd.jpg);
        }
        &:nth-child(3) {
            grid-column: span 1;
            grid-row: span 1;
            // background-image: url(../../../images/dist/auto.jpg);
        }
        &:nth-child(4) {
            grid-column: span 1;
            grid-row: span 1;
            // background-image: url(../../../images/dist/bur.jpg);
        }
    }
    &__item-title {
        // padding: 32px 32px 0 32px;
        top: 32px;
        left: 32px;
        font-family: 'Normalidad', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        line-height: 1em;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #000000;
        position: relative;
    }
    &__item-subtitle {
        // padding: 0px 32px;
        top: 64px;
        left: 32px;
        font-family: 'IBM', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4em;
        line-height: 1em;
        letter-spacing: 0.01em;
        color: #7D7D7D;
        position: absolute;
    }
}



@media (min-width: 1440px) {
    .way {
        &__item-title {
            font-size: 20px;
            line-height: 22px;
        }
        &__item-subtitle {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: #7D7D7D;
            position: absolute;
        }
    }
}

@media (max-width: 1024px) {
    .way {
        padding-bottom: 48px;
        &__item-title {
            top: 24px;
            left: 24px;
            // padding: 24px 24px 0 24px;
        }
        &__item-subtitle {
            // padding: 0px 24px;
            top: 50px;
            left: 24px;
        }

        &__item {
            &::after {
                top: 22px;
                right: 24px;
                width: 20px;
                height: 20px;
            }
        }
    }
    
}



@media (max-width: 920px) {
    .way {
        &__item-title {
            font-size: 12px;
            line-height: 16px;
            padding: 24px 48px 0 24px;
            position: static;
        }
        &__item-subtitle {
            font-size: 14px;
            line-height: 16px;
            padding: 12px 24px 0 24px;
            position: static;
        }


    }
    
}

@media (max-width: 650px) {
    .way {
        padding-bottom: 32px;
        &__block {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        
    }
}

